composer.lock
/vendor
/.php_cs.cache
/build/
!/src/Entity/Generated
/src/Entity/Generated/*
!/src/Entity/Generated/.gitkeep
!/src/Repository/Generated
/src/Repository/Generated/*
!/src/Repository/Generated/.gitkeep
